<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Adapters for contextual launch -->
	<extension point="org.eclipse.core.runtime.adapters">
         <factory 
            class="" 
            adaptableType="org.eclipse.core.resources.IResource">
            <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
         </factory>
      <factory
            class="com.aptana.ruby.debug.ui.RubyBreakpointAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut label="%RubyApplicationShortcut.label"
			icon="icons/full/ctool16/run_ruby.gif"
			class="com.aptana.ruby.debug.ui.launcher.RubyApplicationShortcut"
			modes="run, debug" id="com.aptana.ruby.debug.ui.RubyShortcut">
			<contextualLaunch>
				<enablement>
					<with variable="selection">
						<count value="1">
						</count>
						<iterate>
							<or>
								<test value="*.rb"
									property="org.eclipse.debug.ui.matchesPattern">
								</test>
								<test value="*.rbx"
									property="org.eclipse.debug.ui.matchesPattern">
								</test>
								<test value="*.rbw"
									property="org.eclipse.debug.ui.matchesPattern">
								</test>
        <test
              args="kindOf"
              property="org.eclipse.core.resources.contentTypeId"
              value="com.aptana.contenttype.ruby">
        </test>
							</or>
						</iterate>
					</with>
				</enablement>
				<contextLabel label="%LaunchShortcut.Ruby.label" mode="run">
				</contextLabel>
				<contextLabel label="%LaunchShortcut.Ruby.label" mode="debug">
				</contextLabel>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command name="%ContextualRunRubyApplication.label"
			description="%ContextualRunRubyApplication.label"
			categoryId="org.eclipse.debug.ui.category.run"
			id="com.aptana.ruby.debug.ui.RubyShortcut.run">
		</command>
		<command name="%ContextualDebugRubyApplication.label"
			description="%ContextualDebugRubyApplication.label"
			categoryId="org.eclipse.debug.ui.category.run"
			id="com.aptana.ruby.debug.ui.RubyShortcut.debug">
		</command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key sequence="M3+M2+D R"
			commandId="com.aptana.ruby.debug.ui.RubyShortcut.debug"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
		<key sequence="M3+M2+X R"
			commandId="com.aptana.ruby.debug.ui.RubyShortcut.run"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
           id="com.aptana.ruby.debug.ui.RulerPopupActions"
           targetID="#AbstractTextEditorRulerContext"> <!-- FIXME This is 3.5+, and applies to all editors... -->
         <action
               label="%AddBreakpoint.label"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               menubarPath="debug"
               id="com.aptana.ruby.debug.ui.actions.ToggleBreakpointAction">
         </action>
      </viewerContribution>
      <!--
		<viewerContribution
			targetID="com.aptana.ruby.ui.rubyeditor.contextMenu"
			id="com.aptana.ruby.debug.ui.RubyEditorPopupActions">
         <action
               label="%EnableBreakpoint.label"
               helpContextId="enable_disable_breakpoint_action_context"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               menubarPath="debug"
               id="com.aptana.ruby.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate">
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               helpContextId="manage_breakpoint_action_context"
               icon="icons/full/obj16/brkp_obj.gif"
               id="com.aptana.ruby.debug.ui.actions.BreakpointRulerActionDelegate"
               label="%AddBreakpoint.label"
               menubarPath="debug">
         </action>
		</viewerContribution>
		-->
	</extension>
	  <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.aptana.ruby.debug.ui.RubyModelPresentation"
            id="com.aptana.ruby.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.aptana.ruby.debug.core.launchConfigurationType"
            description="Run or debug a Ruby program"
            class="com.aptana.ruby.debug.ui.launcher.RubyTabGroup"
            id="com.aptana.ruby.debug.ui.launchConfigurationTabGroup.ruby">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.radrails.rails.ui.PerspectiveRails">
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging Ruby"
            description="Debugging Ruby"
            id="com.aptana.ruby.debug.ui.ruby.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="org.rubypeople.rdt.debug"
            contextId="com.aptana.ruby.debug.ui.ruby.debugging">
      </modelContextBinding>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/ctool16/run_ruby.gif"
            configTypeID="com.aptana.ruby.debug.core.launchConfigurationType"
            id="com.aptana.ruby.debug.ui.ruby.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
