<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ruby_ovr.gif"
            id="com.aptana.ruby.ui.rubynatureImage"
            natureId="com.aptana.ruby.core.rubynature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.radrails.rails.ui.category"
            class="com.aptana.ruby.ui.wizards.NewRubyProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/newproj.png"
            id="com.aptana.ruby.core.ui.rubyProjectWizard"
            name="%wizard.ruby.name"
            preferredPerspectives="com.aptana.ui.WebPerspective"
            project="true">
         <description>
            %wizard.rubynewproject.description
         </description>
      </wizard>
      <primaryWizard
            id="com.aptana.ruby.core.ui.rubyProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
             associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
             type="new"
             wizardId="com.aptana.ruby.core.ui.rubyProjectWizard">
          <enablement></enablement>
       </commonWizard>
   </extension>
</plugin>
