<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="rubynature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.ruby.core.RubyProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
