<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="content/window3232.png">
         <run
               class="com.aptana.rcp.IDEApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.aptana.rcp.application"
            name="%product.aptana.name">
         <property
               name="aboutText"
               value="%aboutText"/>
         <property
               name="aboutImage"
               value="content/about.gif"/>
         <property
               name="preferenceCustomization"
               value="preference_customization.ini"/>
         <property
               name="windowImages"
               value="content/window1616.png,content/window3232.png,content/window4848.png,content/window6464.png,content/window128128.png"/>
         <property
               name="startupProgressRect"
               value="0,260,590,15"/>
         <property
               name="appName"
               value="Aptana Studio 3">
         </property>
         <property
               name="startupMessageRect"
               value="7,240,445,20">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="cssTheme"
               value="com.aptana.rcp.theme.dashboard">
         </property>
      </product>
   </extension>
   
   <!-- Web Browsers -->
   <extension point="org.eclipse.ui.browser.browsers">
      <!-- Linux -->
      <!-- Add Firefox as an additional browser -->
      <browser
         id="com.aptana.browser.firefox"
         name="%browser.firefox.name"
         os="linux"
         executable="firefox"
         factoryclass="org.eclipse.ui.internal.browser.browsers.MozillaFactory">
         <location>usr/bin/firefox</location>
      </browser>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.rcp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="themes/appcelerator.css"
            id="com.aptana.rcp.theme.appcelerator"
            label="Appcelerator">
      </theme>
      <theme
            basestylesheeturi="themes/dashboard.css"
            id="com.aptana.rcp.theme.dashboard"
            label="Dashboard">
      </theme>
   <extension>

</plugin>
