<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="railsNature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.radrails.rails.core.RailsProjectNature">
         </run>
      </runtime>
   </extension>

</plugin>
