<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.radrails.rcp.main.preferences.PreferenceInitializer"/>
   </extension>

   <!-- TODO Adjust the category -->
   <extension
         point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.ui.preferencePages.Workbench"
          class="com.aptana.radrails.rcp.main.preferences.StartupShutdownPreferencePage"
          id="com.aptana.radrails.rcp.main.preferences.StartupShutdownPreferencePage"
          name="%startupShutdownPreferencePage"/>
   </extension>
   <extension
        point="org.eclipse.ui.ide.resourceFilters">
        <filter pattern="CVS" selected="true" />
        <filter pattern="*.DS_Store" selected="true" />
        <filter pattern="*.project" selected="true" />
   </extension> 
   
   <!-- The following were added in order to get F1 help in the editors and views -->
    <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_Workbench.xml" plugin="org.eclipse.ui"/> 
   </extension>
   
    <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_Workbench.xml" plugin="org.eclipse.ui.ide"/> 
   </extension>

   <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_Workbench.xml" plugin="org.eclipse.ui.workbench.texteditor"/> 
   </extension>

   <extension point="org.eclipse.help.contexts"> 
       <contexts file="contexts_Workbench.xml" plugin="org.eclipse.ui.editors"/> 
   </extension>
       

</plugin>
