<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="com.aptana.ruby.debug.core.rubyLineBreakpointMarker"
            class="com.aptana.ruby.internal.debug.core.breakpoints.RubyLineBreakpoint"
            id="rubyBreakpointMarker"
            name="%rubyBreakpoint.name">
      </breakpoint>
      <breakpoint
            markerType="com.aptana.ruby.debug.core.rubyExceptionBreakpointMarker"
            class="com.aptana.ruby.internal.debug.core.breakpoints.RubyExceptionBreakpoint"
            id="rubyExceptionBreakpoint"
            name="%rubyExceptionBreakpoint.name">
      </breakpoint>
      <breakpoint
            class="com.aptana.ruby.internal.debug.core.breakpoints.RubyMethodBreakpoint"
            id="rubyMethodBreakpoint"
            markerType="com.aptana.ruby.debug.core.rubyMethodBreakpointMarker"
            name="%rubyMethodBreakpoint.name">
      </breakpoint>
   </extension>
   <extension
         id="rubyBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
   </extension>
   <extension
         id="commonRubyLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.ruby.debug.core.rubyBreakpointMarker">
      </super>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="com.aptana.ruby.debug.core.typeName">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.installCount">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.hitCount">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.expired">
      </attribute>
   </extension>
   <extension
         id="rubyLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.ruby.debug.core.commonRubyLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="rubyExceptionBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.ruby.debug.core.rubyBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="com.aptana.ruby.debug.core.caught">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.uncaught">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.checked">
      </attribute>
   </extension>
   <extension
         id="rubyMethodBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.ruby.debug.core.rubyLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="com.aptana.ruby.debug.core.methodName">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.methodSignature">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.entry">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.exit">
      </attribute>
      <attribute
            name="com.aptana.ruby.debug.core.native">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.aptana.ruby.internal.debug.core.launching.RubyDebuggerLaunchDelegate"
            id="com.aptana.ruby.debug.core.launchConfigurationType"
            modes="debug"
            name="%LaunchConfigurationTypeRubyApplication.name"
            public="true"
            sourceLocatorId="com.aptana.ruby.debug.core.sourceLocator"
            sourcePathComputerId="com.aptana.ruby.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.aptana.ruby.internal.debug.core.launching.RubySourceLookupDirector"
            id="com.aptana.ruby.debug.core.sourceLocator"
            name="%sourceLocator.name.0">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.aptana.ruby.internal.debug.core.launching.RubySourcePathComputerDelegate"
            id="com.aptana.ruby.debug.core.sourcePathComputer">
      </sourcePathComputer>
   </extension>

</plugin>
