<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.radrails.rails.internal.ui.RailsPerspectiveFactory"
            icon="icons/radrails1616.png"
            id="org.radrails.rails.ui.PerspectiveRails"
            name="%perspective.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/rails_ovr.gif"
            id="org.radrails.rails.ui.natureImage"
            natureId="org.radrails.rails.core.railsnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.radrails.rails.ui.category"
            class="org.radrails.rails.internal.ui.NewProjectWizard"
            finalPerspective="org.radrails.rails.ui.PerspectiveRails"
            icon="icons/newproj.gif"
            id="org.radrails.rails.ui.projectWizard"
            name="%wizard.name"
            preferredPerspectives="org.radrails.rails.ui.PerspectiveRails"
            project="true">
      </wizard>
      <category
            id="org.radrails.rails.ui.category"
            name="%RailsWizardsCategory.name">
      </category>
      <primaryWizard
            id="org.radrails.rails.ui.projectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.radrails.rails.ui.PerspectiveRails">
         <newWizardShortcut
               id="org.radrails.rails.ui.projectWizard">
         </newWizardShortcut>
         <viewShortcut
               id="com.aptana.explorer.view">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <view
               id="com.aptana.explorer.view"
               minimized="false"
               relationship="stack"
               relative="left"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.5"
               relationship="bottom"
               relative="com.aptana.explorer.view"
               visible="false">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.radrails.rails.ui.category"
            id="org.radrails.rails.ui.command.server"
            name="%ScriptServerAction.label">
      </command>
      <category
            id="org.radrails.rails.ui.category"
            name="%RailsCommandsCategory.name">
      </category>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.SendFeedbackCommandHandler"
            description="%SendFeedbackCommand.description"
            id="org.radrails.rails.ui.command.sendfeedback"
            name="%SendFeedbackCommand.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.ReportBugCommandHandler"
            description="%ReportBugCommand.description"
            id="org.radrails.rails.ui.command.reportbug"
            name="%ReportBugCommand.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.radrails.rails.ui.command.server"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+\">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.radrails.rails.ui.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.radrails.rails.internal.ui.actions.RunScriptServerAction"
               definitionId="org.radrails.rails.ui.command.server"
               id="org.radrails.rails.ui.actions.RunScriptServerAction"
               label="%ScriptServerAction.label"
               tooltip="%ScriptServerAction.tooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:help?after=additions">
         <command
               commandId="org.radrails.rails.ui.command.sendfeedback"
               style="push">
         </command>
         <command
               commandId="org.radrails.rails.ui.command.reportbug"
               style="push">
         </command>
      </menuContribution>
   </extension>
</plugin>
