<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/rails_ovr.gif"
            id="org.radrails.rails.ui.natureImage"
            natureId="org.radrails.rails.core.railsnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.radrails.rails.ui.category"
            class="org.radrails.rails.internal.ui.NewProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/newproj.png"
            id="org.radrails.rails.ui.projectWizard"
            name="%wizard.name"
            preferredPerspectives="com.aptana.ui.WebPerspective"
            project="true">
         <description>
            Create a new Ruby/Rails project
         </description>
      </wizard>
      <category
            id="org.radrails.rails.ui.category"
            name="%RailsWizardsCategory.name">
      </category>
      <primaryWizard
            id="org.radrails.rails.ui.projectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <newWizardShortcut
               id="org.radrails.rails.ui.projectWizard">
         </newWizardShortcut>
         <actionSet
               id="org.radrails.rails.ui.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.radrails.rails.ui.category"
            name="%RailsCommandsCategory.name">
      </category>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.RunServerHandler"
            id="org.radrails.rails.ui.command.server"
            name="%ScriptServerAction.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.DebugServerHandler"
            id="org.radrails.rails.ui.command.debug.server"
            name="%DebugScriptServerAction.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.PreviewCommandHandler"
            id="org.radrails.rails.ui.command.preview"
            name="%PreviewAction.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.ScriptConsoleHandler"
            id="org.radrails.rails.ui.command.script.console"
            name="%ScriptConsoleAction.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.radrails.rails.ui.command.server"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+\">
      </key>
      <key
            commandId="org.radrails.rails.ui.command.debug.server"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.radrails.rails.ui.resourceContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.radrails.rails.internal.ui.actions.RunScriptServerAction"
               definitionId="org.radrails.rails.ui.command.server"
               id="org.radrails.rails.ui.actions.RunScriptServerAction"
               label="%ScriptServerAction.label"
               tooltip="%ScriptServerAction.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.radrails.rails.core.railsnature">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="org.radrails.rails.internal.ui.actions.DebugScriptServerAction"
               definitionId="org.radrails.rails.ui.command.debug.server"
               id="org.radrails.rails.ui.actions.DebugScriptServerAction"
               label="%DebugScriptServerAction.label"
               tooltip="%DebugScriptServerAction.tooltip">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.radrails.rails.core.railsnature">
                  </objectState>
               </and>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.aptana.explorer.gear?after=group.run">
         <command
               commandId="org.radrails.rails.ui.command.server"
               label="%ScriptServerAction.label"
               style="push">
         </command>
         <command
               commandId="org.radrails.rails.ui.command.debug.server"
               label="%DebugScriptServerAction.label"
               style="push">
         </command>
         <command
               commandId="org.radrails.rails.ui.command.preview"
               label="%PreviewAction.label"
               style="push">
         </command>
         <command
               commandId="org.radrails.rails.ui.command.script.console"
               label="%ScriptConsoleAction.label"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.radrails.rails.ui.actionSet"
            label="%RailsRunActionSet.label"
            visible="false">
         <action
               class="org.radrails.rails.internal.ui.actions.RunScriptServerAction"
               definitionId="org.radrails.rails.ui.command.server"
               enablesFor="+"
               id="org.radrails.rails.ui.action.server"
               label="%ScriptServerAction.label"
               menubarPath="org.eclipse.ui.run/runGroup"
               style="push">
            <enablement>
              <and>
                <objectClass name="org.eclipse.core.resources.IResource"/>
                <objectState name="projectNature" value="org.radrails.rails.core.railsnature"/>
              </and>
            </enablement>
         </action>
         <action
               class="org.radrails.rails.internal.ui.actions.DebugScriptServerAction"
               definitionId="org.radrails.rails.ui.command.debug.server"
               enablesFor="+"
               id="org.radrails.rails.ui.action.debug.server"
               label="%DebugScriptServerAction.label"
               menubarPath="org.eclipse.ui.run/runGroup"
               style="push">
           <enablement>
              <and>
                <objectClass name="org.eclipse.core.resources.IResource"/>
                <objectState name="projectNature" value="org.radrails.rails.core.railsnature"/>
              </and>
            </enablement>
         </action>
         <action
               class="org.radrails.rails.internal.ui.actions.ScriptConsoleAction"
               definitionId="org.radrails.rails.ui.command.script.console"
               enablesFor="+"
               id="org.radrails.rails.ui.action.script.console"
               label="%ScriptConsoleAction.label"
               menubarPath="org.eclipse.ui.run/runGroup"
               style="push">
            <enablement>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectState
                        name="projectNature"
                        value="org.radrails.rails.core.railsnature">
                  </objectState>
               </and>
            </enablement>
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            type="new"
            wizardId="org.radrails.rails.ui.projectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.aptana.org.eclipse.tm.terminal.terminalHyperlinkDetectors">
      <detector
            class="org.radrails.rails.internal.ui.hyperlink.RenderPathHyperlinkDetector">
      </detector>
   </extension>
</plugin>
