<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ruby_ovr.gif"
            id="org.radrails.rails.ui.natureImage"
            natureId="org.radrails.rails.core.railsnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.radrails.rails.ui.category"
            class="org.radrails.rails.internal.ui.NewRailsProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/newproj.png"
            id="org.radrails.rails.ui.projectWizard"
            name="%wizard.name"
            preferredPerspectives="com.aptana.ui.WebPerspective"
            project="true">
         <description>
            %wizard.newproject.description
         </description>
      </wizard>
      <category
            id="org.radrails.rails.ui.category"
            name="%RailsWizardsCategory.name"
            parentCategory="com.aptana.ruby.ui.category">
      </category>
      <primaryWizard
            id="org.radrails.rails.ui.projectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.radrails.rails.ui.category"
            name="%RailsCommandsCategory.name">
      </category>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.RunServerHandler"
            id="org.radrails.rails.ui.command.server"
            name="%ScriptServerAction.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.DebugServerHandler"
            id="org.radrails.rails.ui.command.debug.server"
            name="%DebugScriptServerAction.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.PreviewCommandHandler"
            id="org.radrails.rails.ui.command.preview"
            name="%PreviewAction.label">
      </command>
      <command
            categoryId="org.radrails.rails.ui.category"
            defaultHandler="org.radrails.rails.internal.ui.commands.ScriptConsoleHandler"
            id="org.radrails.rails.ui.command.script.console"
            name="%ScriptConsoleAction.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.radrails.rails.ui.command.server"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+\">
      </key>
      <key
            commandId="org.radrails.rails.ui.command.debug.server"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.aptana.explorer.gear?after=group.run">
         <command
               commandId="org.radrails.rails.ui.command.server"
               label="%ScriptServerAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.debug.server"
               label="%DebugScriptServerAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.preview"
               label="%PreviewAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.script.console"
               label="%ScriptConsoleAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?endof=runGroup">
         <command
               commandId="org.radrails.rails.ui.command.server"
               label="%ScriptServerAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
               <with
                     variable="activeEditorInput">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.debug.server"
               label="%DebugScriptServerAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.radrails.rails.core.railsnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.radrails.rails.core.railsnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.preview"
               label="%PreviewAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.radrails.rails.core.railsnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.radrails.rails.core.railsnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </or>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.script.console"
               label="%ScriptConsoleAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.radrails.rails.core.railsnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
                  <with
                        variable="activeEditorInput">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="org.radrails.rails.core.railsnature">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=additions">
         <command
               commandId="org.radrails.rails.ui.command.server"
               label="%ScriptServerAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.radrails.rails.ui.command.debug.server"
               label="%DebugScriptServerAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.radrails.rails.core.railsnature">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
       <commonWizard
            associatedExtensionId="org.eclipse.ui.navigator.resourceContent"
            type="new"
            wizardId="org.radrails.rails.ui.projectWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="com.aptana.terminal.terminalHyperlinkDetectors">
      <detector
            class="org.radrails.rails.internal.ui.hyperlink.RenderPathHyperlinkDetector">
      </detector>
   </extension>
   <extension
         point="com.aptana.explorer.filters">
      <filter
            class="org.radrails.rails.internal.ui.filter.RailsProjectFilter"
            nature="org.radrails.rails.core.railsnature"
            priority="50">
      </filter>
   </extension>
</plugin>
