<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>AptanaStudio3</string>
	<key>CFBundleGetInfoString</key>
	<string>Aptana Studio 3 for Mac OS X, Copyright Appcelerator, Inc. 2011. All rights reserved.</string>
	<key>CFBundleIconFile</key>
	<string>aptana.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.aptana.studio3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AptanaStudio3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>APTS</string>
	<key>CFBundleVersion</key>
	<string>3.1</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>as</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AS</string>
			<key>CFBundleTypeName</key>
			<string>ActionScript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asp</string>
				<string>asa</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ASP</string>
			<key>CFBundleTypeName</key>
			<string>ASP document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aspx</string>
				<string>ascx</string>
				<string>asmx</string>
				<string>ashx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ASPNET</string>
			<key>CFBundleTypeName</key>
			<string>ASP.NET document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>css</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>css.icns</string>
			<key>CFBundleTypeName</key>
			<string>Cascading style sheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>htm</string>
				<string>html</string>
				<string>phtml</string>
				<string>shtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>html.icns</string>
			<key>CFBundleTypeName</key>
			<string>HTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>js</string>
				<string>htc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>java_script.icns</string>
			<key>CFBundleTypeName</key>
			<string>JavaScript source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>log</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>general_text.icns</string>
			<key>CFBundleTypeName</key>
			<string>Log file</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>php</string>
				<string>php3</string>
				<string>php4</string>
				<string>php5</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>general_text.icns</string>
			<key>CFBundleTypeName</key>
			<string>PHP source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erb</string>
				<string>rhtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>general_text.icns</string>
			<key>CFBundleTypeName</key>
			<string>HTML with embedded Ruby</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>erbsql</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>general_text.icns</string>
			<key>CFBundleTypeName</key>
			<string>SQL with embedded Ruby</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
				<string>rbx</string>
				<string>rjs</string>
				<string>rxml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ruby.icns</string>
			<key>CFBundleTypeName</key>
			<string>Ruby source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sql</string>
			</array>
			<key>general_text.icns</key>
			<string>SQL</string>
			<key>CFBundleTypeName</key>
			<string>SQL source</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xml.icns</string>
			<key>CFBundleTypeName</key>
			<string>Scalable vector graphics</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>text</string>
				<string>txt</string>
				<string>utf8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>general_text.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Plain text document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>sEXT</string>
				<string>ttro</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xhtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>html.icns</string>
			<key>CFBundleTypeName</key>
			<string>XHTML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xml</string>
				<string>rss</string>
				<string>tld</string>
				<string>pt</string>
				<string>cpt</string>
				<string>dtml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xml.icns</string>
			<key>CFBundleTypeName</key>
			<string>XML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xsl</string>
				<string>xslt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>xml.icns</string>
			<key>CFBundleTypeName</key>
			<string>XSL stylesheet</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>yaml</string>
				<string>yml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ruby.icns</string>
			<key>CFBundleTypeName</key>
			<string>YAML document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sass</string>
				<string>scss</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>sass.icns</string>
			<key>CFBundleTypeName</key>
			<string>Sass document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>haml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>general_text.icns</string>
			<key>CFBundleTypeName</key>
			<string>Haml document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>Eclipse</key>
	<array>
		<string>-keyring</string>
		<string>~/.eclipse_keyring</string>
		<string>-consoleLog</string>
		<string>-showlocation</string>
	</array>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
